<div class="container">

  <div class="row margin-top-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-left">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Olá, Tiago Lima
        </div>

         <div class="pull-right">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          <a href="#">Desligar</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row contentOeds">

      <div class="jumbotron col-md-12 jumbotronOED">

        <div class="col-ms-12">
          <a href="#/dashboard/cadastrar" class="btn btn-default">Cadastrar novo oed</a>
          <a href="#/dashboard/disciplinas" class="btn btn-default">Disciplinas</a>
        </div>

        <br />

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Filtrar OED..</span>
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3" ng-model-options="{debounce: 500}" ng-model="filtro">
          <span class="input-group-addon" id="basic-addon3">1/{{oeds.length}}</span>
        </div>

        <div class="page-header">
          <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="disciplina in disciplinas"><a href="#">{{disciplina.nome}} <span class="label label-pill label-info">{{disciplina.qtdOeds}}</span></a></li>
          </ul>
        </div>

        <div class="col-md-4 oed painel-animado" data-toggle="modal" data-target="#{{oed.titulo}}" ng-repeat="oed in oeds | filter:filtro">
          <div class="thumbnail">
            <img ng-src="{{oed.imagem}}" alt="" class="img-responsive">
            <div class="caption text-center">
              <h4>{{oed.titulo}}</h4>
              <h5 class="text-info">{{oed.disciplina}}: {{oed.ano}}º ano</h5>
              <p>
                <a href="#" class="btn btn-default" role="button">Editar</a>
                <a href="#" class="btn btn-danger" role="button">Remover</a>
              </p>
            </div>
          </div>


        </div>

      </div>

  </div>


  <div class="row">

    <div ng-include src="'partials/footer.html'"></div>

  </div>


</div>




