<div class="container">

  <div class="row margin-top-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-left">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Olá, Tiago Lima
        </div>

         <div class="pull-right">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          <a href="#">Desligar</a>
        </div>
      </div>
    </div>
  </div>


<div class="row contentOeds">

  <div class="jumbotron col-md-12 jumbotronOED">

    <h3>Cadastrar novo OED</h3>

    <form>

      <div class="col-md-12">

        <div class="col-md-5">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Titulo OED">
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <select name="categoria" class="form-control">
                <option value="" disabled="">Disciplina</option>
                <option ng-repeat="disciplina in disciplinas" value="{{disciplina.nome}}">
                  {{disciplina.nome}}
                </option>
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input type="number" class="form-control" value="1">
          </div>
        </div>

      </div>

    </form>

    <div class="col-md-12">
      <label class="text-info">Insira aqui o oed .zip ou .rar</label>
        <div class="well">
          <form method="post" action="/dashboard/cadastrar" enctype="multipart/form-data">

              <input type="file" class="filestyle" name="file" fileread="imovel.imagem" required>
              <br />
              <input type="submit" class="btn btn-info btn-block" value="Enviar">

              <!-- <input type="text" class="form-control" ng-model="imovel.imagem" disabled> -->

          </form>
        </div>
    </div>

    <a href="#/dashboard" class="btn btn-primary">Voltar</a>

  </div>

</div>



<div class="row">

  <div ng-include src="'partials/footer.html'"></div>

</div>


