<div class="container">
  <div class="row">

    <div ng-include src="'partials/header.html'"></div>

  </div>

  <div class="row contentOeds">

    <div class="jumbotron col-md-12 jumbotronOED">

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Filtrar OED..</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3" ng-model-options="{debounce: 500}" ng-model="filtro">
        <span class="input-group-addon" id="basic-addon3">1/{{oeds.length}}</span>
      </div>

      <div class="page-header">
      <ul class="nav nav-tabs">
          <!-- class="active" -->
          <li role="presentation" ng-repeat="disciplina in disciplinas"><a href="#">{{disciplina.nome}} <span class="label label-pill label-info">{{disciplina.qtdOeds}}</span></a></li>
        </ul>
      </div>

      <div class="col-md-4 oed painel-animado" data-toggle="modal" data-target="#{{oed.titulo}}" ng-repeat="oed in oeds | filter:filtro">
        <div class="thumbnail">
          <img ng-src="{{oed.imagem}}" alt="" class="img-responsive">
          <div class="caption text-center">
            <h3>{{oed.titulo}}</h3>
            <h5 class="text-info">{{oed.disciplina}}: {{oed.ano}}º ano</h5>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="{{oed.titulo}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="{{oed.titulo}}" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">{{oed.titulo}}</h4>
              </div>
              <div class="modal-body">


              <!-- <iframe ng-src="{{oed.caminho}}" frameborder="0" style="width: 100%; height: 560px;"></iframe> -->


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="{{oed.titulo}}">Fechar</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      </div>

  </div>


  <div class="row">

    <div ng-include src="'partials/footer.html'"></div>

  </div>


</div>




